#cabecalho {
    background-color: rebeccapurple;
    border: black 1px solid;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

body {
    /*background-color: blueviolet;*/
    background-color: #ffb3b3;
    /* rgb(180, 180, 180);*/
    font-family: sans-serif;
}

#conteudo {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

/*tudo que for h1*/

h1 {
    padding-left: 50px;
}

/*links*/

a {
    color: blue;
    text-decoration: unset;
    /*remove todos os atributos*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#imgloja {
    width: 100%;
}

#titulodestaque {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-shadow: blue 1px 1px 5px;
    font-size: 25px;
}

#produtos {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.produtodestaque {
    border: gray 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: gray 2px 2px 3px;
}

.imgdestaque {
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    /*esse eu que acrescentei para dar um espaço em cima da imagem*/
}

h1 {
  animation-name: mudarcor;
  animation-duration: 5s;
  color: red;
}

@keyframes mudarcor {
    from {color: yellow;}
    to {color: red;}
}

h3 {
    text-align: center;
    font-size: 30px;
}

.descdestaque {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

#rodape {
    display: flex;
    justify-content: space-around;
    background-color: #d60000;
    /* rgb(110, 110, 100);*/
    margin-top: 30px;
}

#redessociais {
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 50px;
}

.rede {
    margin-top: 5px;
    margin-bottom: 5px;
    width="40px";
    /*eu*/
    height="40px";
    /*eu*/
}

#email {
    margin-right: 50px;
}

#receba {
    color: white;
    text-align: left;
    /*eu*/
}

input {
    font-size: 30px;
    width: 100%;
    right: 40px;
    margin-bottom: 10px;
}

button {
    background-color: rgb(80, 80, 250);
    width: 100px;
    height: 60px;
    border: rgb(80, 80, 250) 1px solid;
    color: white;
    font-size: 20px;
    box-shadow: blue 2px 2px 5px;
}